body{
    background-image: url("https://i.pinimg.com/originals/e9/57/c1/e957c15c5087a32d46c5bf2da5faef10.gif");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: cursive;
}

div.heading{
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 130px;
    padding: 5px;
    background-color: burlywood;
    width: 1200px;
    height: 80px;
    border: 5px solid black;    
    text-align: center;
    text-shadow: 3px 3px 5px black;
    font-weight: 2000;
    font-size: 60px;
}
dt{
    font-size: 30px;
    font-weight: 900;
}
dd{
    font-size: 23px;
    font-weight: 500;
    color: whitesmoke;
}

