body{
    background-image: url("img/farm_bg.jpg");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: cursive;
}

div.heading{
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 280px;
    padding: 5px;
    background-color: rgb(196, 249, 174);
    width: 900px;
    height: 80px;
    border: 5px solid black;    
    text-align: center;
    text-shadow: 3px 3px 5px black;
    font-weight: 2000;
    font-size: 60px;
    font-family: cursive;
}

li[class="abc"]{
    font-weight: 800;
    font-size: 25px;
}
dd{
    font-weight: 500px;
    font-size: 20px;
    text-align: center;
}
ul{
    font-weight: 500px;
    font-size: 20px;
}