body{
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("https://github.com/lakshaysharma2876/hackathon/blob/main/HACKATHON/img/background.jpg");
    
}
div.heading1{
    border-radius: 0px;
    margin-top: 30px;
    padding: 5px;
    background-color: white;
    width: 100%;
    height: 100px;
    border: 5px solid black;    
    text-align: center;
    text-shadow: 3px 3px 5px black;
    font-weight: 2000;
    font-size: 90px;
}

nav{
    margin-top:80px;
    background-color: black;
    overflow: hidden;
}
nav a{
    color: white;
    text-align: center;
    padding: 20px;
    float: left;
}
nav a:hover{
    color: greenyellow;
}
nav a:visited{
    color: tomato;
}

img{
    height: 80px;
    width: 100px;
}

li{
    font-weight: 900;
    font-size: 20px;
}

p{
    font-weight: 800;
    font-size: 20px;
}
.name1{
    font-weight: 500px;
    font-size: 20px;
}
